

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		@include vendor('appearance', 'none');
		@include vendor('transition', (
			'background-color #{_duration(transition)} ease-in-out',
			'color #{_duration(transition)} ease-in-out'
		));

		border-radius: _size(border-radius);
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: _font(weight);
		line-height: 1em;
		padding: 0.3em 0.3em; 
		text-decoration: none;
		text-align: center;
		white-space: 0em 1em;
		font-family: Rubik;
		font-size: 1.1em;
		margin:  0.1em 0.1em ;
		box-shadow: 10px 5px 5p whitesmoke;
		
		
		
		text-decoration: none;
		text-align: center;
		white-space: 0em 1em;
		font-family: Rubik;
		font-size: 0.8em;
		
		margin:  0.1em 0.1em ;
		box-shadow: 10px 5px 5px gray;
		

		&.icon {
			padding-left: 1em;

			&:before {
				margin-right: 0.5em;
			}
		}
		
		

		&.fit {
			display: block;
			margin:  1em;
			width: 100%;
		}

		&.small {
			font-size: 1em;
		}

		&.big {
			font-size: 1.35em;
		}

		&.disabled,
		&:disabled {
			@include vendor('pointer-events', 'none');
			opacity: 0.25;
		}

		@include breakpoint(small) {
			min-width: 0;
		}
	}

	@mixin color-button($p: null) {
		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		button,
		.button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px _palette($p, border);
			color: _palette($p, fg-bold) !important;
			

			&:hover {
				background-color: _palette($p, border-bg);
			}

			&:active {
				background-color: _palette($p, border2-bg);
			}

			&.icon {
				&:before {
					color: _palette($p, fg-light);
				}
			}

			&.special {
				background-color: _palette(accent);
				color: _palette(invert, bg) !important;
				box-shadow: none;
				font-size: 1em;
				

				&:hover {
					background-color: lighten(_palette(accent), 3);
				}

				&:active {
					background-color: darken(_palette(accent), 20);
				}

				&.icon {
					&:before {
						color: _palette(invert, bg) !important;
					}
				}
			}
			&.niya {
				background-color: _palette(accent);
				color: _palette(invert, bg) !important;
				box-shadow: none;

				&:hover {
					background-color: lighten(_palette(accent), 3);
				}

				&:active {
					background-color: darken(_palette(accent), 20);
				}

				&.icon {
					&:before {
						color: _palette(invert, bg) !important;
					}
				}
			}
		
		}
	}

	@include color-button;