
/* Main */
@import 'libs/mixins';

	#main {
		@include color(invert)
		border-radius: _size(border-radius-main);
		border-top: 0.01rem solid grey;
		
		> .main {
			zoom: 100%;
			@include padding(3em, 4em);
			border: 0.1rem solid rgb(225, 225, 225);
			border-radius: _size(border-radius-main);
			margin: 1em 0em;
			
			&:first-child {
				border-top: 0;
				margin: 0em 0em;
			}

			> .image.main:first-child {
				margin: -2em 0 0em 0em;
				width: calc(90% + 10em);
				border-top-right-radius: _size(border-radius-main);
				border-top-left-radius: _size(border-radius-main);
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				padding-top: 1em;

				img {
					border-top-right-radius: _size(border-radius-main);
					border-top-left-radius: _size(border-radius-main);
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}

		@include breakpoint(large) {
			> .main {
				@include padding(4em, 4em);

				> .image.main:first-child {
					margin: -4em 0 4em -4em;
					width: calc(100% + 8em);
				}
			}
		}

		@include breakpoint(medium) {
			> .main {
				@include padding(4em, 3em);

				> .image.main:first-child {
					margin: -4em 0 4em -3em;
					width: calc(100% + 6em);
				}
			}
		}

		@include breakpoint(small) {
			> .main {
				@include padding(3em, 2em);

				> .image.main:first-child {
					margin: -3em 0 2em -2em;
					width: calc(100% + 4em);
				}
			}
		}

		@include breakpoint(xsmall) {
			> .main {
				@include padding(3em, 1.5em);

				> .image.main:first-child {
					margin: -3em 0 1.5em -1.5em;
					width: calc(100% + 3em);
				}
			}
		}

		@include breakpoint(xxsmall) {
			border-radius: 0;

			> .main {
				@include padding(2.5em, 1em);

				> .image.main:first-child {
					margin: -2.5em 0 1.5em -1em;
					width: calc(100% + 2em);
					border-radius: 0;

					img {
						border-radius: 0;
					}
				}
			}
		}
	}
